<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MyConStr"
			 connectionString="Server=10.12.42.7\\SQLEXPRESS;Database=TabrizDB;User ID=SuperAdmin;Password=SuperAdmin;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
